
body {
    background: none repeat scroll 0 0 #F3F3F3;
    font-family: Helvetica,Arial,sans-serif;
}
section {
    clear: both;
}
.container {
    margin: 0 auto;
    width: 470px;
}
.column {
    float: left;
    margin: 5px 0;
    width: 50%;
}
*::-moz-selection {
    background: none repeat scroll 0 0 #454545;
    color: #F3F3F3;
    text-shadow: none;
}
h1, h2, h3, h4 {
    margin: 20px 0;
    text-shadow: 0 1px 0 #FFFFFF;
}
h1 {
    color: #404040;
    font-size: 48px;
    font-weight: bold;
}
h2 {
    color: #555555;
    font-size: 28px;
    font-weight: bold;
}
h3 {
    background: none repeat-x scroll center center #FFFFFF;
    color: #555555;
    font-size: 17px;
    font-weight: bold;
}
h3 span {
    background: none repeat scroll 0 0 #F3F3F3;
    padding-right: 20px;
}
h4 {
    color: #666666;
    font-size: 16px;
    font-weight: bold;
}
h5 {
    color: #707070;
    font-size: 14px;
    font-weight: bold;
}
p {
    color: #888888;
    font-size: 14px;
    line-height: 150%;
    margin: 0 0 20px;
}
ul, ol {
    color: #888888;
    font-size: 14px;
    line-height: 150%;
    margin: 0 0 20px 20px;
}
li {
    list-style: disc outside none;
    margin-left: 20px;
}
strong {
    color: #707070;
    font-weight: bold;
}
em {
    color: #707070;
    font-style: italic;
}
blockquote {
    border-left: 2px solid #AAAAAA;
    color: #AAAAAA;
    font-family: Georgia,Times,serif;
    font-size: 14px;
    font-style: italic;
    line-height: 150%;
    margin: 0 20px 20px;
    padding-left: 10px;
}
a:link, a:visited {
    color: #4A97BA;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: #57B5E3;
}
.button-wrapper {
    background: -moz-linear-gradient(center top , #E9E9E9, #D7D7D7) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0 2px 2px #B2B3B5 inset, 0 1px 0 #FFFFFF;
    padding: 5px;
    width: 152px;
}
a.button {
    border-radius: 50px 50px 50px 50px;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 25px;
    font-weight: bold;
    height: 55px;
    line-height: 53px;
    text-align: center;
    text-decoration: none;
    width: 153px;
}
a.button:hover, a.button:active {
    border: medium none;
}
.search-wrapper {
    background: -moz-linear-gradient(center top , #E9E9E9, #D7D7D7) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0 2px 2px #B2B3B5 inset, 0 1px 0 #FFFFFF;
    height: 63px;
    margin-bottom: 50px;
    padding: 5px;
    width: 376px;
}
input.search-field {
    background: -moz-linear-gradient(center top , #F3F3F3, #FFFFFF) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0 1px 6px #9A9A9A inset;
    color: #ACACAC;
    display: block;
    float: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 21px;
    font-weight: normal;
    height: 64px;
    line-height: 61px;
    padding: 0 10px;
    text-align: left;
    text-decoration: none;
    width: 285px;
}
input.search-field:focus {
    box-shadow: 0 1px 1px #4A97BA inset, 0 -1px 1px #4A97BA inset, 0 0 8px #4A97BA;
    color: #666666;
    outline: medium none;
}
input.search-button {
    border: medium none;
    border-radius: 45px 45px 45px 45px;
    cursor: pointer;
    display: block;
    float: right;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 19px;
    font-weight: bold;
    height: 64px;
    line-height: 64px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 69px;
}
ul.tabs {
    background: -moz-linear-gradient(center top , #E9E9E9, #D7D7D7) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 2px 2px #B2B3B5 inset, 0 1px 0 #FFFFFF;
    height: 35px;
    margin-bottom: 20px;
    margin-left: 0;
    padding: 8px;
}
ul.tabs li {
    display: inline-block;
    float: left;
    list-style: none outside none;
    margin-left: 0;
}
ul.tabs li a {
    border-radius: 0 0 0 0;
    display: inline-block;
    float: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    line-height: 34px;
    text-align: center;
    text-decoration: none;
    width: 150px;
}
ul.tabs li:first-child a {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
ul.tabs li:last-child a {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
ul.menu {
    background: -moz-linear-gradient(center top , #E9E9E9, #D7D7D7) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 2px 2px #B2B3B5 inset, 0 1px 0 #FFFFFF;
    margin-bottom: 20px;
    margin-left: 0;
    padding: 8px;
    width: 160px;
}
ul.menu li {
    list-style: none outside none;
    margin-left: 0;
}
ul.menu li a {
    border-radius: 0 0 0 0;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    line-height: 34px;
    text-align: center;
    text-decoration: none;
    width: 160px;
}
ul.menu li:first-child a {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
ul.menu li:last-child a {
    border: medium none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.login-wrapper {
    background: -moz-linear-gradient(center top , #E9E9E9, #D7D7D7) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 2px 2px #B2B3B5 inset, 0 1px 0 #FFFFFF;
    height: 35px;
    margin-bottom: 20px;
    padding: 8px;
    width: 370px;
}
input.login-field {
    background: -moz-linear-gradient(center top , #F3F3F3, #FFFFFF) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    box-shadow: 0 1px 1px #9A9A9A inset;
    color: #ACACAC;
    display: block;
    float: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 35px;
    line-height: 34px;
    padding: 0 10px;
    text-align: left;
    text-decoration: none;
    width: 145px;
}
input.password-field {
    background: -moz-linear-gradient(center top , #F3F3F3, #FFFFFF) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    box-shadow: 0 1px 1px #9A9A9A inset;
    color: #ACACAC;
    display: block;
    float: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 35px;
    line-height: 34px;
    padding: 0 10px;
    text-align: left;
    text-decoration: none;
    width: 145px;
}
input.login-field:focus, input.password-field:focus {
    box-shadow: 0 1px 1px #4A97BA inset, 0 -1px 1px #4A97BA inset, 0 0 8px #4A97BA;
    color: #666666;
    outline: medium none;
}
input.login-button {
    border: medium none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    display: block;
    float: right;
    height: 35px;
    padding: 0;
    width: 40px;
}
.table-wrapper {
    background: -moz-linear-gradient(center top , #E9E9E9, #D7D7D7) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 2px 2px #B2B3B5 inset, 0 1px 0 #FFFFFF;
    margin-bottom: 20px;
    padding: 8px;
    width: 460px;
}
.table-wrapper table {
    width: 460px;
}
.table-header {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    line-height: 34px;
    text-align: center;
    text-decoration: none;
}
.table-row td {
    border-left: 1px solid #CCCCCC;
    box-shadow: 0 1px 0 #B2B3B5;
    color: #858585;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
    text-align: left;
    text-decoration: none;
}
tr th {
    border-left: 1px solid #CCCCCC;
}
tr th:first-child {
    border: medium none;
    border-top-left-radius: 8px;
}
tr td:first-child {
    border: medium none;
}
tr th:last-child {
    border-top-right-radius: 8px;
}
tr {
    background: none repeat scroll 0 0 #FFFFFF;
}
tr:nth-child(2n+1) {
    background: none repeat scroll 0 0 #F3F3F3;
}
tr:nth-child(2n) {
    background: none repeat scroll 0 0 #FFFFFF;
}
tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}
tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}
a.light, input.light, ul.light li a, th.light {
    background: -moz-linear-gradient(center top , #FFFFFF, #ECECEC) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 #B5B5B5;
    color: #858585;
    text-shadow: 0 1px 0 #FFFFFF;
}
a.light:hover, input.light:hover, ul.light li a:hover {
    background: -moz-linear-gradient(center top , #FFFFFF, #F7F7F7) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #717171;
}
a.light:active, input.light:active, ul.light li a:active {
    background: none repeat scroll 0 0 #EEEEEE;
    box-shadow: 0 2px 3px #AAAAAA inset, 0 1px 0 #B5B5B5;
    color: #717171;
}
ul.tabs li.light a {
    border-right: 1px solid #D9D9D9;
}
ul.menu li.light a {
    border-bottom: 1px solid #D9D9D9;
}
input.login-light {
    background: url("images/btn-login-light.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    box-shadow: 0 1px 1px #9A9A9A inset;
    text-indent: -5000px;
}
input.login-light:hover, input.login-light:active {
    background: url("images/btn-login-light.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
input.login-light:hover {
    box-shadow: 0 1px 1px #4A97BA inset, 0 -1px 1px #4A97BA inset, 0 0 8px #4A97BA;
}
input.login-light:active {
    box-shadow: 0 2px 3px #AAAAAA inset, 0 1px 0 #B5B5B5;
}
th.light {
    color: #5B5B5B;
}
a.dark, input.dark, ul.dark li a, th.dark {
    background: -moz-linear-gradient(center top , #536278, #323F4F) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 1px 0 #5C6F8B inset, 0 1px 0 #B5B5B5;
    color: #000000;
    text-shadow: 0 1px 0 #56677F;
}
a.dark:hover, input.dark:hover, ul.dark li a:hover {
    background: -moz-linear-gradient(center top , #576A84, #3A4A5E) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #000000;
}
a.dark:active, input.dark:active, ul.dark li a:active {
    background: none repeat scroll 0 0 #3E4E62;
    box-shadow: 0 1px 0 #5C6F8B inset, 0 1px 0 #B5B5B5;
    color: #000000;
}
ul.menu li.dark a {
    border-bottom: 1px solid #2A3542;
}
ul.tabs li.dark a {
    border-right: 1px solid #2A3542;
}
input.login-dark, input.login-dark:hover, input.login-dark:active {
    background: url("images/btn-login-dark.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    text-indent: -5000px;
}
input.login-dark:hover {
    box-shadow: 0 1px 1px #4A97BA inset, 0 -1px 1px #4A97BA inset, 0 0 8px #4A97BA;
}
input.login-dark:active {
    box-shadow: 0 2px 3px #333E4E inset;
}
th.dark {
    border-left: 1px solid #29313D;
}
th.dark:first-child {
    border: medium none;
}
a.ocean, input.ocean, ul.ocean li a, th.ocean {
    background: -moz-linear-gradient(center top , #4AD4EE, #278FAC) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 1px 0 #197A9D inset;
    color: #125267;
    text-shadow: 0 3px 0 #60ACC1;
}
a.ocean:hover, input.ocean:hover, ul.ocean li a:hover {
    background: -moz-linear-gradient(center top , #5ADDF5, #218DB0) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #125267;
}
a.ocean:active, input.ocean:active, ul.ocean li a:active {
    background: none repeat scroll 0 0 #33A4BC;
    box-shadow: 0 2px 3px #333E4E inset, 0 1px 0 #93E6F6 inset;
    color: #125267;
}
ul.tabs li.ocean a {
    border-right: 1px solid #2184A1;
}
input.login-ocean, input.login-ocean:hover, input.login-ocean:active {
    background: url("images/btn-login-ocean.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    text-indent: -5000px;
}
input.login-ocean:hover {
    box-shadow: 0 1px 1px #4A97BA inset, 0 -1px 1px #4A97BA inset, 0 0 8px #4A97BA;
}
input.login-ocean:active {
    box-shadow: 0 2px 3px #333E4E inset, 0 1px 0 #93E6F6 inset;
}
th.ocean {
    border-left: 1px solid #2184A1;
}
th.ocean:first-child {
    border: medium none;
}
a.strawberry, input.strawberry, ul.strawberry li a, th.strawberry {
    background: -moz-linear-gradient(center top , #FF5D9F, #FF0080) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 1px 0 #D1066C inset;
    color: #871A4D;
    text-shadow: 0 1px 0 #FF5AAA;
}
a.strawberry:hover, input.strawberry:hover, ul.strawberry li a:hover {
    background: -moz-linear-gradient(center top , #FF6CA9, #FF2A86) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #871A4D;
}
a.strawberry:active, input.strawberry:active, ul.strawberry li a:active {
    background: none repeat scroll 0 0 #FF208B;
    box-shadow: 0 2px 3px #610C36 inset, 0 1px 0 #FFA1C7 inset;
    color: #871A4D;
}
ul.tabs li.strawberry a {
    border-right: 1px solid #D1066C;
}
input.login-strawberry, input.login-strawberry:hover, input.login-strawberry:active {
    background: url("images/btn-login-strawberry.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    text-indent: -5000px;
}
input.login-strawberry:hover, input.strawberry-glow:focus {
    box-shadow: 0 1px 1px #CF026A inset, 0 -1px 1px #CF026A inset, 0 0 8px #CF026A;
}
input.login-strawberry:active {
    box-shadow: 0 2px 3px #610C36 inset, 0 1px 0 #FFA1C7 inset;
}
th.strawberry {
    border-left: 1px solid #CF026A;
}
th.strawberry:first-child {
    border: medium none;
}
a.tangerine, input.tangerine, ul.tangerine li a, th.tangerine {
    background: -moz-linear-gradient(center top , #E7A50F, #EC6D0B) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 1px 0 #CB5D0B inset;
    color: #904108;
    text-shadow: 0 1px 0 #E9C14D;
}
a.tangerine:hover, input.tangerine:hover, ul.tangerine li a:hover {
    background: -moz-linear-gradient(center top , #F4AA11, #EC6D0B) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #904108;
}
a.tangerine:active, input.tangerine:active, ul.tangerine li a:active {
    background: none repeat scroll 0 0 #F48910;
    box-shadow: 0 2px 3px #432304 inset, 0 1px 0 #CB5D0B inset;
    color: #904108;
}
ul.tabs li.tangerine a {
    border-right: 1px solid #CB5D0B;
}
input.login-tangerine, input.login-tangerine:hover, input.login-tangerine:active {
    background: url("images/btn-login-tangerine.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    text-indent: -5000px;
}
input.login-tangerine:hover, input.tangerine-glow:focus {
    box-shadow: 0 1px 1px #CB5D0B inset, 0 -1px 1px #CB5D0B inset, 0 0 8px #CB5D0B;
}
input.login-tangerine:active {
    box-shadow: 0 2px 3px #432304 inset, 0 1px 0 #CB5D0B inset;
}
th.tangerine {
    border-left: 1px solid #CB5D0B;
}
th.tangerine:first-child {
    border: medium none;
}
a.fern, input.fern, ul.fern li a, th.fern {
    background: -moz-linear-gradient(center top , #749B05, #408000) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 1px 0 #396F01 inset;
    color: #2C4601;
    text-shadow: 0 1px 0 #7FA846;
}
a.fern:hover, input.fern:hover, ul.fern li a:hover {
    background: -moz-linear-gradient(center top , #81AC06, #468801) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #2C4601;
}
a.fern:active, input.fern:active, ul.fern li a:active {
    background: none repeat scroll 0 0 #518F02;
    box-shadow: 0 2px 3px #234500 inset, 0 1px 0 #396F01 inset;
    color: #1F3100;
}
ul.tabs li.fern a {
    border-right: 1px solid #396F01;
}
input.login-fern, input.login-fern:hover, input.login-fern:active {
    background: url("images/btn-login-fern.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    text-indent: -5000px;
}
input.login-fern:hover, input.fern-glow:focus {
    box-shadow: 0 1px 1px #396F01 inset, 0 -1px 1px #396F01 inset, 0 0 8px #396F01;
}
input.login-fern:active {
    box-shadow: 0 2px 3px #234500 inset, 0 1px 0 #396F01 inset;
}
th.fern {
    border-left: 1px solid #396F01;
}
th.fern:first-child {
    border: medium none;
}
.win.chrome input.login-fern:hover, .win.chrome input.fern-glow:focus, .win.chrome input.login-strawberry:hover, .win.chrome input.strawberry-glow:focus, .win.chrome input.login-tangerine:hover, .win.chrome input.tangerine-glow:focus, .win.chrome input.search-field:focus, .win.chrome a.ocean, .win.chrome input.ocean, .win.chrome input.login-ocean:hover, .win.chrome ul.ocean li a, .win.chrome th.ocean, .win.chrome a.ocean:active, .win.chrome input.ocean:active, .win.chrome ul.ocean li a:active, .win.chrome .strawberry, .win.chrome a.strawberry, .win.chrome input.strawberry, .win.chrome ul.strawberry li a, .win.chrome th.strawberry, .win.chrome a.strawberry:active, .win.chrome input.strawberry:active, .win.chrome ul.strawberry li a:active, .win.chrome a.tangerine, .win.chrome input.tangerine, .win.chrome ul.tangerine li a, .win.chrome th.tangerine, .win.chrome a.tangerine:active, .win.chrome input.tangerine:active, .win.chrome ul.tangerine li a:active, .win.chrome a.fern, .win.chrome input.fern, .win.chrome ul.fern li a, .win.chrome th.fern, .win.chrome a.fern:active, .win.chrome input.fern:active, .win.chrome ul.fern li a:active {
}
.win.chrome .button-wrapper, .win.chrome .search-wrapper, .win.chrome ul.menu, .win.chrome ul.tabs, .win.chrome .login-wrapper, .win.chrome input.login-field, .win.chrome input.password-field, .win.chrome .table-wrapper {
    border-top: 1px solid #B2B3B5;
}
.win.chrome a.light:hover, .win.chrome input.light:hover, .win.chrome ul.light li a:hover {
    border-top: 1px solid #FFFFFF;
}
.win.chrome input.login-light:hover, .win.chrome input.login-light:active {
    border: 1px solid #4A97BA;
}
.win.chrome input.login-light:active {
    border: 1px solid #B5B5B5;
}
.win.chrome a.light, .win.chrome input.light, .win.chrome ul.light li a, .win.chrome th.light {
    border-top: 1px solid #FFFFFF;
}
.win.chrome a.light:active, .win.chrome input.light:active, .win.chrome ul.light li a:active {
    border-top: 1px solid #AAAAAA;
}
.win.chrome input.login-light {
    border-top: 1px solid #B2B3B5;
}
.win.chrome input.login-dark:hover, .win.chrome input.login-dark:active {
    border: 1px solid #4A97BA;
}
.win.chrome input.login-dark:active {
    border: 1px solid #2A3542;
}
.win.chrome a.dark, .win.chrome input.dark, .win.chrome ul.dark li a, .win.chrome th.dark {
    border-top: 1px solid #5C6F8B;
}
.win.chrome a.dark:hover, .win.chrome input.dark:hover, .win.chrome ul.dark li a:hover {
    border-top: 1px solid #5C6F8B;
}
.win.chrome a.dark:active, .win.chrome input.dark:active, .win.chrome ul.dark li a:active {
    border-top: 1px solid #2A3542;
}
.win.chrome input.search-field {
    border-top: 1px solid #9A9A9A;
}
.win.chrome ul.menu li:last-child a {
    border: medium none;
}
.win.chrome input.login-field, .win.chrome input.password-field {
    height: 33px;
}
